<!DOCTYPE html>


<html>

<head>
  <title>Yfitops</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <noscript>
    <link rel="stylesheet" type="text/css" href="/css/noscript.css" /></noscript>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  
</head>

<body>
  <div id="wrapper">
    <header id="header">
      <div class="logo">
        <span class="icon fa-gem"></span>
      </div>
      <div class="content">
        <div class="inner">
          <h1>Yfitops</h1>
          <p>Surely not Spotify spelled backwards</p>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="#search">Search</a></li>
          <li><a href="#upload">Upload</a></li>
        </ul>
      </nav>
    </header>
    <div id="main">
      <article id="search">
        <h2 class="major">Search</h2>
        <form name="search" method="POST" action="/search">
          <input style="width:60%; float:left" name="search" type="text">
          <input stlye="width:40%; float:left" type="Submit" name="Submit" value="search">
        </form>
      </article>

      <article id="upload">
        <h2 class="major">Upload</h2>
        <form method="POST" action="/upload" enctype="multipart/form-data">
          <label for='title'>Title</label>
          <input type='text' id='track-title' name='song_name' placeholder='Enter song name.'>
          <label for='artist'>Artist</label>
          <input type='text' id='track-artist' name='artist_name' placeholder='Enter artist name.'>
          <label for='album'>Album</label>
          <input type='text' id='track-album' name='album_name' placeholder='Enter album title.'>
          <input name="file" type="file">
          <input style="margin-top:25px" type="Submit" name="Submit" value="Upload">
        </form>
      </article>

    </div>

    <ul style="display: inline-block;padding-top: 25px;">
      <%-source%>
    </ul>
    <%-message%>
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
  </div>
</body>

</html>