<!DOCTYPE html>
  <head>
    <head>
    <title>Yfitops</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<noscript><link rel="stylesheet" type="text/css" href="/css/noscript.css" /></noscript>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://yfitops-bradenmckinney848609.codeanyapp.com/views/js/typeahead.js">  </script>
    <script src="https://yfitops-bradenmckinney848609.codeanyapp.com/views/js/html5audio.js"> </script>
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Yfitops</h1>
								<p>Surely not Spotify spelled backwards</p>
							</div>
            </div>
            <nav>
              <ul>
								<li><a href="./PlayList">Search</a></li>
								<li><a href="#upload">Upload</a></li>
							</ul>
            </nav>
      </header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="main">
     
    </div>
    <div>
      <%-message%>
    </div>
  </div>
  </body>